<h2>Balances</h2>
@if (loading()) {
  <mat-progress-bar mode="indeterminate" />
} @else if (error()) {
  <p class="balance-error">{{ error() }}</p>
} @else {
  <mat-list>
    @for (b of balances(); track b.user.id) {
      <mat-list-item>
        <span matListItemTitle>
          {{ b.user.displayName }}
          <span class="net" [class]="balanceClass(b.netCents)">{{ describe(b.netCents) }}</span>
        </span>
        @if (b.netCents !== 0) {
          <button matListItemMeta mat-button type="button" (click)="settle(b)">Settle up</button>
        }
      </mat-list-item>
    }
  </mat-list>
}
